<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
<title>가계부 이야기</title>
</head>
<div layout:fragment="content">
<div class="row">
	<div class="col-md-7">
	<br/><br/><br/>
		<div class="panel">
		<div class="panel-heading">
			<span>
			<a href="board_register"><button type="button" class="btn btn-primary">이야기 등록</button></a>
			</span>
			<span>
			<ol class="breadcrumb">
				<li class="breadcrumb-item" name="sort" id="insert_date"><a href="#">최신순</a></li>
				<li class="breadcrumb-item" name="sort" id="recommend"><a href="#">추천순</a></li>
				<li class="breadcrumb-item" name="sort" id="reply"><a href="#">댓글순</a></li>
				<li class="breadcrumb-item" name="sort" id="readcnt"><a href="#">조회순</a></li>
			</ol>
			</span>
		</div>
		<div class="panel-body">
		<ul class="list-group">
		<!-- 게시판 목록 -->
		<th:block th:each="board : ${map.board_list}">
			<li class="list-group-item" style="height:60px;">
				<input type="hidden" name="title" value="${board.title}">
							<!-- 타임리프는 URL 파라미터값 전달방식 조금 다름 -->
				<span style="width:50px; float: reft;">
		    	<a th:href="@{board_detail(bno=${board.bno},page=${map.pageMaker.criteria.page},perPageNum=${map.pageMaker.criteria.perPageNum},keyword=${map.pageMaker.criteria.keyword})}">
		    		<span class="text-primary" th:text="${board.title}"></span>
		    	</a><!-- badge badge-pill badge-dark -->
				</span>
				<span style="width:200px; float: right;">
				<i class="ri-thumb-up-line" align="right"><span class="badge badge-dark" th:text="${board.recommend}"></span></i>
				<i class="ri-chat-1-line" align="right"><span class="badge badge-dark" th:text="${board.reply}"></span></i>
		    	<span class="badge badge-primary badge-pill" th:text="${board.readcnt}"></span>
		    	&emsp;&emsp;
		    	
		    	<span class="mb-0" th:text="${board.moneybook_name}"></span>
		 	  	<footer class="blockquote-footer" th:text="${board.insert_date}"></footer>

		  		<!-- <span th:text="${board.moneybook_name}"></span>
		    	<small th:text="${board.insert_date}"></small> -->
		    	</span>
		  </li>
		  
		</th:block>
		</ul>
		</div>
		</div>
		<!-- 페이지 번호 출력 -->
		<div>
		  <ul class="pagination">				
			  <th:block th:if="${map.pageMaker.totalCount > 0}">
			  <!-- 이전 링크 -->
			  	<th:block th:if="${map.pageMaker.prev}">
			    <li class="page-item">
			      <a class="page-link" th:href="@{board(page=${map.pageMaker.startPage-1}, perPageNum=${map.pageMaker.criteria.perPageNum},keyword=${map.pageMaker.criteria.keyword})}">&laquo;</a>
			    </li>
			  	</th:block>
			  <!-- 페이지 번호 -->
			  <th:block th:each="num, idx : ${#numbers.sequence(map.pageMaker.startPage, map.pageMaker.endPage)}">
			    <li class="page-item active">						<!-- current : 1부터 1씩 증가 -->
			      <a class="page-link" th:href="@{board(page=${idx.current},perPageNum=${map.pageMaker.criteria.perPageNum},keyword=${map.pageMaker.criteria.keyword},sort=${map.pageMaker.criteria.sort})}" th:text="${idx.current}"></a>
			    </li>
			  </th:block>
			  <!-- 다음 링크 -->
			  <th:block th:if="${map.pageMaker.next}">
			    <li class="page-item">
			      <a class="page-link" th:href="@{board(page=${map.pageMaker.endPage+1}, perPageNum=${map.pageMaker.criteria.perPageNum},keyword=${map.pageMaker.criteria.keyword})}">&raquo;</a>
			    </li>
			  </th:block>
		  </th:block>
		  </ul>
	
		<!-- 검색 창 -->
		<form class="form-inline my-2 my-lg-0">
	   		<input class="form-control" type="text" id="keyword" name="keyword" style="width : 300px;"placeholder="Search" th:value="${map.pageMaker.criteria.keyword}">
	      	<button class="btn btn-primary" type="button" id="search">검색</button>		
		</form><br/><br/><br/><br/>

	<div class="col-md-3">
	
	</div>
</div>

<input type="hidden" id="perpagenum" th:value="${map.pageMaker.criteria.perPageNum}">
<!-- 등록 완료시 attribute 받기 -->
<th:block th:if="${board_registermsg != null}">
	<input type="hidden" id="board_registermsg" th:value="${board_registermsg}"> 
</th:block> 
<!-- 삭제 완료시 attribute 받기 -->
<th:block th:if="${board_deletemsg != null}">				   
	<input type="hidden" id="board_deletemsg" th:value="${board_deletemsg}">
</th:block>
<!-- 수정 완료시 attribute 받기 -->
<th:block th:if="${board_updatemsg != null}">
	<input tpye="hidden" id="board_updatemsg" th:value="${board_updatemsg}">
</th:block>
</div>
<th:block layout:fragment="script">
<script>
window.onload = function(){
	statusSelect();
}
//게시판 등록 완료시 알림
var board_register = $("#board_registermsg").val();
if(board_register != null){
	alert(board_register);
}
//삭제 완료시 알림
var board_delete = $("#board_deletemsg").val();
if(board_delete != null){
	alert(board_delete);
}
//수정 완료시 알림
var board_update = $("#board_updatemsg").val();
if(board_update != null){
	alert(board_update);
}

 //가계부 이야기 정렬
$(document).on("click","li[name=sort]",function(){
	var perPageNum = $("#perpagenum").val()
	var sort = $(this).attr("id");
	location.href="board?page=1&perPageNum="+perPageNum+"&sort="+sort;
})

//검색
$("#search").click(function(){
	var perPageNum = $("#perpagenum").val()
	var keyword = $("#keyword").val();
	location.href="board?page=1&perPageNum="+perPageNum+"&keyword="+keyword;
})

</script>
</th:block>
</html> 