<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
<title>가계부 이야기 - 상세보기</title>
</head>
<div layout:fragment="content">
<div class="row">
	<div class="col-md-7">


	    <label class="control-label" for="readOnlyInput">제목</label>
	    <input class="form-control" type="text" th:placeholder="${board.title}" readonly="">
		

		<label class="control-label" for="readOnlyInput">이야기</label>
		<div class="alert alert-dismissible alert-light">
		 	<p th:text="${board.content}"></p>
		</div>
		

		<th:block th:if="${board.moneybook_name == #authentication.principal.username}">
		<button type="button" id="board_delete" class="btn btn-outline-danger" th:value="${board.bno}">삭제</button>
		<button type="button" id="board_update" class="btn btn-outline-primary" th:value="${board.bno}">수정</button>
		</th:block>
		<!-- 
				<sec:authorize access="isAuthenticated()">
		</sec:authorize> -->
					<!-- 시큐리티타임리프 로그인 사용자 이름 가져오기 -->
		<!-- <span sec:authentication="principal.username"> -->
		<div class="form-group">
		
			   <span sec:authentication="principal.username"> </span>
		
			<textarea class="form-control" rows="3" id="content"></textarea>
			<button type="button" id="replay_insert" class="btn btn-outline-primary">댓글 등록</button>
		</div>
		
	</div>
	<div class="col-md-3">
		<table class="table table-hover">
			<tr>
				<th scope="row">날짜</th>
				<th scope="row">금액</th>
				<th scope="row">내역</th>
			</tr>
			<th:block th:each="board_status : ${board_status}">
				<tr th:if="${board_status.moneybook_type == 'expense'}">
					<td th:text="${board_status.board_date}"></td>
					<td th:text="${board_status.price}"></td>
					<td th:text="${board_status.cartegory}"></td>
				</tr>
			</th:block>
		</table>
		
		<table class="table table-hover">
			<tr>
				<th scope="row">날짜</th>
				<th scope="row">금액</th>
				<th scope="row">내역</th>
			</tr>
			<th:block th:each="board_status : ${board_status}">
				<tr th:if="${board_status.moneybook_type == 'earnings'}">
					<td th:text="${board_status.board_date}"></td>
					<td th:text="${board_status.price}"></td>
					<td th:text="${board_status.cartegory}"></td>
				</tr>
			</th:block>
		</table>
	</div>

</div>
</div>
<th:block layout:fragment="script">
<script>

$("#board_delete").click(function(){
	var bno = $("#board_delete").val();
	var confirm_val = confirm("삭제 하시겠습니까?");
	if(confirm_val){
			location.href="board_delete?bno="+bno;
		}
	})
	
$("#board_update").click(function(){
	var bno = $("#board_delete").val();
	location.href="board_update?bno="+bno;
})


</script>
</th:block>
</html> 