<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
<title>가계부 이야기 - 상세보기</title>
</head>
<div layout:fragment="content">
<div class="row">
	<div class="col-md-7">


	    <label class="control-label" for="readOnlyInput">제목</label>
	    <input class="form-control" type="text" th:placeholder="${board.title}" readonly="">
		

		<label class="control-label" for="readOnlyInput">이야기</label>
		<div class="alert alert-dismissible alert-light">
		 	<p th:text="${board.content}"></p>
		</div>

	</div>
	<div class="col-md-3">
		<table class="table table-hover">
			<tr>
				<th scope="row">날짜</th>
				<th scope="row">금액</th>
				<th scope="row">내역</th>
			</tr>
			<th:block th:each="board_status : ${board_status}">
				<tr th:if="${board_status.moneybook_type == 'expense'}">
					<td th:text="${board_status.board_date}"></td>
					<td th:text="${board_status.price}"></td>
					<td th:text="${board_status.cartegory}"></td>
				</tr>
			</th:block>
		</table>
		
		<table class="table table-hover">
			<tr>
				<th scope="row">날짜</th>
				<th scope="row">금액</th>
				<th scope="row">내역</th>
			</tr>
			<th:block th:each="board_status : ${board_status}">
				<tr th:if="${board_status.moneybook_type == 'earnings'}">
					<td th:text="${board_status.board_date}"></td>
					<td th:text="${board_status.price}"></td>
					<td th:text="${board_status.cartegory}"></td>
				</tr>
			</th:block>
		</table>
	</div>

</div>
</div>
<th:block layout:fragment="script">
<script>

</script>
</th:block>
</html> 