<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
</head>

<div layout:fragment="content">
<div class="row">
	<div class="col-md-9">
	<div align="right" style="width: 92%">
			<button type="button" class="btn btn-outline-danger" id="moneybook_delete">선택 삭제</button>
		</div>
		<table class="table table-hover">
			<tr>
				<th scope="row" width="100"></th>
				<th scope="row" width="200">가계부 이름</th>
				<th scope="row" width="200">가입 날짜</th>
				<th scope="row"><div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" name="checkAll" id="customCheck" onclick="checkAll()">
				<label class="custom-control-label" for="customCheck"></label></div></th>			
			</tr>
			<th:block th:each="list, i : ${moneybooklist}">
			<th:block th:if="${list.moneybook_name != 'admin'}">
				<tr>
					<td></td>
					<td th:text="${list.moneybook_name}"></td>
					<td th:text="${list.insert_date}"></td>
					<td><div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" name="checkRow" th:id="${'customCheck'+i.index}" th:value="${list.moneybook_name}">
					<label class="custom-control-label" th:for="${'customCheck'+i.index}"></label></div></td>
				</tr>
			</th:block>
			</th:block>
		</table>
	</div>
	
	<div class="col-md-3">
	</div>
</div>
</div>


<th:block layout:fragment="script">
<script>
window.onload = function(){
	statusSelect();
}


var delete_check = false;
$("#moneybook_delete").click(function(){
		var confirm_val = confirm("삭제 하시겠습니까?");
		if(confirm_val){
			var checkArr = new Array();
			$("input[name=checkRow]:checked").each(function(){
				checkArr.push($(this).val())
				delete_check = true;
			});
		if(delete_check == true){
		$.ajax({
				url : "moneybook/delete",
				data : {"checkArr" : checkArr},
				//배열값을 넘기기 위한 설정
				traditional : true,
				dateType : "json",
				success : function(){
					location.reload();
				}
		})
		}
	}
})
</script>
</th:block>

</html>



