<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
	    layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
<style>
.cal_top{
    text-align: left;
    font-size: 20px;
    padding:0px 0px 0px 350px;
}
.cal{
    text-align: left;    
    padding:0px 0px 0px 100px;
}
table.calendar{
    border: 1px solid black;
    display: inline-table;
    text-align: left;
}
table.calendar td{
    vertical-align: top;
    border: 1px solid black;
    width: 100px;
}

</style>
</th:block>
<meta charset="UTF-8">
<title>가계부 달력</title>
</head>
<div layout:fragment="content">
  		<div class="cal_top">
  		<!-- 이전달로 이동 -->
        <a href="#" id="movePrevMonth">
        	<span id="prevMonth" class="cal_tit">&lt;</span>
        </a>
        <!-- 년 -->
        <span id="cal_top_year"></span>
        <!-- 월 -->
        <span id="cal_top_month"></span>
        <!-- 다음달로 이동 -->
        <a href="#" id="moveNextMonth">
        	<span id="nextMonth" class="cal_tit">&gt;</span>
        </a>
        <span>
        <span class="badge badge-info" style="height:30px;">수입</span><span id="easum" class="text-info"></span>
        <span class="badge badge-danger" style="height:30px;">지출</span><span id="exsum" class="text-danger"></span>
    	</span>
    </div>
    <div id="getCalendar" class="cal">
    </div>
    <div id="getSum"></div>
   
</div>

<th:block layout:fragment="script">
<script>
window.onload = function(){
	statusSelect();
	calendar();
	initDate();
	setData(year, month);
}

$(document).ready(function() {
	//저번 월 이동
    $("#movePrevMonth").on("click", function(){
    	movePrevMonth();
    	});
	//다음 월 이동
    $("#moveNextMonth").on("click", function(){
    	moveNextMonth();
    	});
}); 
//
var today = 0;
//년 
var year = 0;
//월
var month = 0;  
//달력에 월 처리할 변수
var firstDay = 0; 
var lastDay = 0;
//테이블 td테그값을 넣어 달력 일자를 표시하기 위한 변수
var tdDay = null;
//해당 달에 있는 가계부 넣을 배열
var calendarList = new Array(); 

//calendar 그리기
function calendar(){
    var caldisp = "";
    var calnum = 0;
    caldisp += "<table class='calendar'>";
    caldisp += "<tr><th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th></tr>";
    //열 구하기
    for(var i = 0; i < 6; i++){
    	caldisp += "<tr height='100'>";
        //행 구하기
    	for(var j = 0; j < 7 ;j++){
        	caldisp += "<td style='text-overflow:ellipsis;overflow:hidden;white-space:nowrap'>";
        	caldisp += "<div class='cal_day' id='cal_moneybook"+calnum+"'></div>";
        	caldisp += "</td>";
        	calnum++
        }
        caldisp += "</tr>";
    }
    caldisp += "</table>";
    $("#getCalendar").html(caldisp);
}

//날짜 초기화
function initDate(){
    tdDay = $("td div.cal_day")
    dayCount = 0;
    today = new Date();
    year = today.getFullYear();
    month = today.getMonth()+1;
    //10월이하 01,02,03 으로 변경
    if(month<10){
        month=String("0"+month);
    }
    firstDay = new Date(year,month-1,1);
    lastDay = new Date(year,month,0);
}

//calendar 날짜표시
function drawDays(calendarList){
	//지출 합계
	var exsum = 0;
	//수입 합계
	var easum = 0;
	var sumdisp = "";
	//달력 상단에 년과 월 지정
    $("#cal_top_year").text(year);
    $("#cal_top_month").text(month);
    
	//일자 표시
    for(var i = firstDay.getDay(); i < firstDay.getDay() + lastDay.getDate(); i++){
    	var schedule = ""
        tdDay.eq(i).text(++dayCount);     
		}

    //달력에 지출, 수입내역 작성
	$(calendarList).each(function (idx, item){
		//0
		var num = firstDay.getDay()
		//1일부터 시작 할 위치 지정
		// 달력 일 칸 마다 id값이 일자와 동일하게 되 있으므로 시작할 아이디 일자를 정함
		var calnum = parseInt(item.day) + parseInt(num-1);
		
		//수입과 지출 색을 다르게 지정
		//수입 내역
 		if(item.moneybook_type == "expense"){
 			$("#cal_moneybook"+calnum).append("<p class='text-danger' style='line-height: 10px;'>"
 																+"<abbr title='"+item.cartegory+"'>"+Number(item.price).toLocaleString('en')+"</abbr></p>"); 
 			easum += item.price;
 			//지출 내역
 		}else if(item.moneybook_type == "earnings"){
 			$("#cal_moneybook"+calnum).append("<p class='text-info' style='line-height: 10px;'>"
																+"<abbr title='"+item.cartegory+"'>"+Number(item.price).toLocaleString('en')+"</abbr></p>"); 
 			exsum += item.price;
 		}
	}); 
    sumdisp = Number(easum).toLocaleString('en');
    $("#easum").html(sumdisp);
    sumdisp = Number(exsum).toLocaleString('en');
    $("#exsum").html(sumdisp);
    //토요일, 일요일 색 지정
    for(var i=0; i<42; i+=7){
        tdDay.eq(i).css("color","red");
    }
    for(var i=6; i<42; i+=7){
        tdDay.eq(i).css("color","blue");
    }
   
} 

//데이터 등록
function setData(year, month){
	//지출, 수입내역 저장된 array값 초기화
	calendarList.length = 0;
	
	var insert_date = year + "-" + month;
	$.ajax({
		url : "calendar/select", 
		data : {"insert_date" : insert_date},
		dataType : "json",
		success : function(data){
			$(data).each(function(idx, item){
				var calendarJson = new Object();
				//insert_date 에서 일자만 가져와서 저장
				calendarJson.day = item.insert_date.substring(8,10);
				calendarJson.price = item.price;
				calendarJson.moneybook_type = item.moneybook_type;
				calendarJson.cartegory = item.cartegory;
				calendarList.push(calendarJson);
			})
			drawDays(calendarList);
		}
	})
}

//이전 달 이동
function movePrevMonth(){
    month--;
    if(month<=0){
        month=12;
        year--;
    }
    if(month<10){
        month=String("0"+month);
    }
    getNewInfo();
}

//다음 달 이동
function moveNextMonth(){
    month++;
    if(month>12){
        month=1;
        year++;
    }
    if(month<10){
        month=String("0"+month);
    }
    getNewInfo();
}

//월 변경 될 떄마다 새로운 일 값 삽입을 위해
function getNewInfo(){
	//날짜 초기화
    for(var i=0;i<42;i++){
        tdDay.eq(i).text("");
    }
    dayCount=0;
    firstDay = new Date(year,month-1,1);
    lastDay = new Date(year,month,0);

    setData(year, month);
}

</script>
</th:block>
</html>

