<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">


</style>
<!-- jQuery 설정 -->
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>   
<title>Home</title>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-nl8CRcNYOGaXP68QRJeVTXCWAhwqBhRha0QbuubX1qDQpGT3GgclpvyzkR2JzyfZ" crossorigin="anonymous">
</head>

<body>
<div class="row">
	<div class="col-md-3"></div>

	<div class="col-md-6">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="alert alert-dismissible alert-light">
     			<form method="post" th:action="@{/login}">
     				<div id="getAuto">
     					<div class="form-group">
  							<p class="text-primary">가계부 이름</p>
  							<input type="text" class="form-control" placeholder="Default input" id="moneybook_name" name="moneybook_name"/><br/>
  							<p class="text-primary">패스워드</p>
  							<input type="password" class="form-control" placeholder="Default input" id="moneybook_pw" name="moneybook_pw"/><br/>
						</div>
					</div>
						<div id="getError"></div>
						<button type="submit" class="btn btn-primary">들어가기</button>
						<button type="button" class="btn btn-primary" id="bookregister">가계부 등록</button>&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-danger" id="autoregister">가계부 자동 생성</button>
					</form>
				
			</div>
</div>
<div class="col-md-3"></div>

</div>
<div class="col-md-5"></div>

</div>
</div>
<!-- Model -->          
<div class="modal" id="moneybook_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">가계부 등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="moneybook_form" th:onsubmit="return moneybookcheck()">
			<!-- 시큐리티에 넣기 위한 하이든  -->
			<input type="hidden" name="authority_name" id="authority_name" value="ROLE_USER"/>
			<div class="text-primary" id="name_div">가계부 이름 <br/><input type="text" class="form-control" id="name" name="name" onblur="confirmName()"></div>
			<div class="text-primary">패스워드 <br/><input type="password" class="form-control" id="pw" name="pw" > </div>
			<div class="text-primary">패스워드 확인 <input type="password" class="form-control" id="confirmpw"/></div>
		<div class="modal-footer">
        <button type="button" class="btn btn-primary" id="moneybook_register">등록하기</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        </div>
   		</form>
      </div>   
    </div>
  </div>
</div>

<th:block th:if="${loginmsg} != null">
	<script>
		alert("${loginmsg}");
	</script>
</th:block>
<script>
window.onload = function(){
	errorLogin();
}
$(document).ready(function(){
	var modal_name_div = ''
	$("#bookregister").click(function(){
		$("#moneybook_modal").modal();
	});
	//모달창 닫을 떄 값 초기화
	$("#moneybook_modal").on("hide.bs.modal", function(){
		modal_name_div +=  "가계부 이름 <br/><input type='text' class='form-control' id='name' name='name' onblur='confirmName()''>"; 
		$("#name_div").html(modal_name_div);
		modal_name_div = '';
		$("#moneybook_modal").find("#moneybook_form")[0].reset();
	});
});



//가계부 이름 중복 확인
var namecheck = false;
function confirmName(){
	var moneybook_name = $("#name").val();
	var name_div = "";

	 if(moneybook_name.length < 1){
		 name_div +=  "가계부 이름 <br/><input type='text' class='form-control' id='name' name='name' onblur='confirmName()''>"; 
		$("#name_div").html(modal_name_div); 
	 }
	else if(moneybook_name.search(/\s/) != -1){
		alert("가계부 이름에 공백은 사용할 수 없습니다.");
	}else{
	$.ajax({
			url : "moneybook_name_check",
			data : {"moneybook_name" : moneybook_name},
			dataType : "json",
			success : function(data){
				if(data.result == true){
					name_div += "가계부 이름 <br/><input type='text' class='form-control is-valid' id='name' name='name' onblur='confirmName()' value='"+moneybook_name+"'>"; 
					namecheck = true;
				}else	{
					name_div += "가계부 이름 <br/><input type='text' class='form-control is-invalid' id='name' name='name' onblur='confirmName()' value='"+moneybook_name+"'>";
					namecheck = false;
					}
				$("#name_div").html(name_div);
			}
		})	
	}
}

//가계부 자동으로 등록
$("#autoregister").click(function(){
	var id = "";
	var pw = "";
	var authority_name = $("#authority_name").val();
	 var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

	 for( var i=0; i < 10; i++ ){
	        id += possible.charAt(Math.floor(Math.random() * possible.length));
	 		pw += possible.charAt(Math.floor(Math.random() * possible.length));
	 }
	$.ajax({
			url : "moneybookRegister",
			type : "post",
			data : {"name" : id,
					   "pw" : pw,
					   "authority_name" : authority_name},
			success : function(){
				disp = "";
				disp += "<p class='text-primary'>가계부 이름</p>";
				disp += "<input type='text' class='form-control' placeholder='Default input' id='moneybook_name' name='moneybook_name' value='"+id+"'/><br/>";
				disp += "<p class='text-primary'>패스워드</p>";
				disp += "<input type='password' class='form-control' placeholder='Default input' id='moneybook_pw' name='moneybook_pw' value='"+pw+"'/><br/>";
				$("#getAuto").html(disp);
				alert("가계부 이름, 패스워드 는 랜덤으로 임의로 생성했습니다.");
			}
			
	})
})

//가계부 등록
$(document).ready(function(){
	myModal = document.getElementById("myModal");
	$("#moneybook_register").click(function(){
		//var moneybook_name = document.getElementById("name").value;
		var moneybook_name = $("#name").val();
		var moneybook_pw = $("#pw").val();
		var authority_name = $("#authority_name").val();
		var confirmpw = $("#confirmpw").val();
		//
		if(namecheck == false || moneybook_name.length < 1){
			alert("가계부 이름을 입력해야 합니다.");
		}else if(moneybook_pw.length < 1){
			alert("패스워드를 입력하셔야 합니다.");
		}else if(moneybook_pw.length < 5){
			alert("패스워드는 5자이상 이여야 합니다.");
			
		}else if(moneybook_pw != confirmpw){
			alert("패스워드와 패스워드확인이 일치하지 않습니다.");
		}else
		$.ajax({
			url : "moneybookRegister",
			type : "post", 
			data : {"name" : moneybook_name,
					   "pw"    : moneybook_pw,
					   "authority_name" : authority_name},
			success : function(){
				$('#moneybook_modal').modal('hide'); 
				alert("가계부 등록 완료!");
			}
		})
	})
})

//로그인 실패 시 메시지
function errorLogin(){
	var error = location.search
	var disp = "";
	if(error == "?error"){
		disp += "<font color='red'>";
		disp += "<p>아이디 비밀번호 틀림</p>";
		disp += "</font>";
		$("#getError").html(disp);
	}
}


</script>
</body>
</html>