<!DOCTYPE html>
<html xmlnd:th="http://www.thymeleaf.ofg" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
	<meta charset="UTF-8"/>
	<th:block layout:fragment="css">
	<style type="text/css">
.left {
	width: 10%;
	height:100px;
	float: left;
	}
.right {
	width: 90%;
	height:100px;
	float: right;
	}
#table {	
	display: table; 
	width: 100%;
	}
.row1 {
	display: table-row;	
	}
.cell {
	display: table-cell; 
	padding: 4px; 
	border-bottom: 1px solid #DDD;
	}
</style>
	</th:block>
	<!-- jQuery 설정 -->
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>   
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-nl8CRcNYOGaXP68QRJeVTXCWAhwqBhRha0QbuubX1qDQpGT3GgclpvyzkR2JzyfZ" crossorigin="anonymous">
<script>
//3자리숫자마다 콤마넣어주는 정규식
function AddComma(num)	{
	var regexp = /\B(?=(\d{3})+(?!\d))/g;
	return num.toString().replace(regexp, ',');
}

	/* 
	.attr() : element가 가지는 속성값이나 정보를 조회하거나 세팅하는 형식의 업무
	.prop() : element가 가지는 실제적인 상태(활성화, 체크, 선택여부 등)를 제어하는 업무
*/
//체크박스 전체선택, 전체해제
function checkAll(){
	if( $("#customCheck").is(":checked")){
		$("input[name=checkRow]").prop("checked", true);
	}else{
		$("input[name=checkRow]").prop("checked", false);
	}
}
	
</script>

</head>

</html>
