<!DOCTYPE html>
<html xmlnd:th="http://www.thymeleaf.ofg" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
	<meta charset="UTF-8"/>
	<th:block layout:fragment="css">
	<style type="text/css">
.left {
	width: 10%;
	height:100px;
	float: left;
	}
.right {
	width: 90%;
	height:100px;
	float: right;
	}

</style>
	</th:block>
	<!-- jQuery 설정 -->
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>   

<!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-nl8CRcNYOGaXP68QRJeVTXCWAhwqBhRha0QbuubX1qDQpGT3GgclpvyzkR2JzyfZ" crossorigin="anonymous">
  -->
 
 <!--STYLESHEET-->
        <!--=================================================-->
        <!--Roboto Slab Font [ OPTIONAL ] -->
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
        <!--Bootstrap Stylesheet [ REQUIRED ]-->
        <link href="/bootstrapTemplate/css/bootstrap.min.css" rel="stylesheet">
        <!--Jasmine Stylesheet [ REQUIRED ]-->
        <link href="/bootstrapTemplate/css/style.css" rel="stylesheet">
        <!--Font Awesome [ OPTIONAL ]-->
        <link href="/bootstrapTemplate/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!--Switchery [ OPTIONAL ]-->
        <link href="/bootstrapTemplate/plugins/switchery/switchery.min.css" rel="stylesheet">
        <!--Bootstrap Select [ OPTIONAL ]-->
        <link href="/bootstrapTemplate/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
        <!--Bootstrap Validator -->
        <link href="/bootstrapTemplate/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="/bootstrapTemplate/css/demo/jasmine.css" rel="stylesheet">
         <!--Bootstrap Table [ OPTIONAL ]-->
        <link href="/bootstrapTemplate/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
        <link href="/bootstrapTemplate/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
        <!-- Calendar -->
        <link href="/bootstrapTemplate/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="/bootstrapTemplate/plugins/pace/pace.min.css" rel="stylesheet">
        <script src="/bootstrapTemplate/plugins/pace/pace.min.js"></script>
 <!-- 아이콘 오픈소스 CDN -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
<!-- 공통된 모듈 상단에 배치 -->
<script src="/js/module.js"></script>

</head>

</html>
